*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.hidden{
    visibility: hidden;
}

/*===========Form============*/
form, .actions{
    border:1px solid #ccc;
    border-radius:5px;
    width:75%;
    padding:20px;
    margin:15vh auto 0;
}

.icon{
    
    height:50px;
    width:50px;
    left:calc(25% - 20px);
    position:absolute;
    top:5vh;
}
input, label{
    display:block;
}

input, button[type="submit"]{
    margin-bottom:20px;
    width:100%;
    height:30px;
}

.actions{
    margin-top:20px;
}

.warning, .success{
    border:1px solid #dd2956;
    width:50%;
    margin:20px auto;
    padding:20px;
    border-radius:5px;
    color: #dd2956;
    background-color: #dd295650;
}

.success {
    border:1px solid #29dd56;
    color:#29dd56;
    background-color:#29dd5650;
}
.protectedPage{
    width:75%;
    border:1px solid #ccc;
    border-radius:5px;
    padding:20px;
    margin:10vh auto;
}

.loading{
    height:75px;
    width:75px;
    border-bottom:1px solid #ccc;
    border-top:1px solid #dd2956;
    border-radius:50%;
    margin:50px auto;
    animation: rotate 1s ease-in-out infinite;
}
@keyframes rotate{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
}


/*===========LandingPage============*/
.accountActions{
    width:100%;
    margin-top:0;
    padding:10px;
    display:flex;
    justify-content:space-between;
    flex-direction: row-reverse;
}
.logout{
    text-decoration:underline;
    color:white;
    height:40px;
    line-height:40px;
    
}

.logout:hover{
    opacity:0.8;
    cursor:pointer;
}

.home header i{
    font-size:35px;
    color:white;
}

.home header{
    height:200px;
    background-color:#ccc;
    position:relative;
}

.greeting{
    position:absolute;
    width:100%;
    top:125px;
    display:flex;
}

.greeting p{
    line-height:100px;
    margin-left:10px;
}

.letter{
    background-color:#dfdfdf;
    border-radius:50%;
    width:150px;
    height:150px;
    font-size:95px;
    line-height:150px;
    text-align:center;
    border:2px solid #ccc;
    margin-left:10px;
}
.queue{
    margin-top:95px;
}
.button{
    height:50px;
    width:50px;
    background-color:#666;
    border-radius:50%;
    position:fixed;
    bottom:10px;
    right:10px;
    font-size:35px;
    line-height:50px;
    color:white;
    font-weight:100;
    text-align:center;
    box-shadow: 2.5px 2.5px 5px 0px rgba(0,0,0,0.5);
    z-index:99; 
}
.button img{
    height:30px;
    width:30px;
    position:block;
    margin:10px;
}

.button:nth-of-type(1) i{
    font-size:30px;
}

.button:nth-of-type(2){
    background-color:#444;
    bottom:80px;
}

.button:nth-of-type(1){
    bottom:150px;
    background-color:#222;
}

/*===========Queue Card============*/

.queue{
    padding:10px;
}

.queueItem{
    border:1px solid #ccc;
    border-radius:5px;
    position:relative;
    background-color:white;
    z-index:9;
    margin-bottom:20px;
}
.cardWrapper{

    display:flex;
    padding:10px;
    justify-content:space-between;
    margin-top:15px;
}
.cardImg{
    padding-bottom:33%;
    width:33%;
    outline:1px solid #ccc;
}

.cardText{
    width:63%
}

.queueItem i{
    position: absolute;
    top:10px;
    right:10px;
}

.rec{
    font-size:12px;
    opacity:0.7;
    margin:10px;
}

.filterButtons{
    position:fixed;
    width: calc(100% - 60px);
    z-index:99;
    right:60px;
    bottom:90px;
    display:flex;
    justify-content: space-between;
    padding:0 10px;
    overflow:hidden;
}
.slideOpen{
    animation: slideOpen .5s ease-in;
}

.slideClose{
    animation: slideClose .5s ease-in;
}
@keyframes slideOpen{
    0%{width: 0px;}
    100%{width: calc(100% - 60px)}
}

@keyframes slideClose{
    0%{width: calc(100% - 60px)}
    100%{width: 0px;}

}
.filterButton{
    height:30px;
    width:30px;
    background-color: #444;
    color:white;
    flex-shrink: 0;
    border-radius:50%;
    text-align:center;
    line-height:30px;
}


@keyframes fadeIn{
    0%{opacity:0}
    100%{opacity:1}
}


.gradientScreen{
    position:fixed;
    height:100vh;
    width:100vw;
    top:0; left:0;
    background: radial-gradient(at 70% 70%, #00000020, #00000090);
    z-index:98;
    animation:fadeIn .25s ease-in;
}

.selected{
    transform:scale(1.1)
}

